/*import the font*/
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

:root{
    --color-background: #233C68 ;
    --color-element-background: #C9C8C9;
    --color-menu: #5A80A1;
    --color-sub1: rgb(55, 99, 180);
    --color-sub2: rgb(63, 181, 202);
    --color-sub3: rgba(17, 167, 159, 0.671);

    /*variables for font-family */
    --font-title: 'Raleway', sans-serif;
    --font-text: 'Roboto', sans-serif;



}
