/*import the font*/
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

:root{
    --color-page-background: #21252B ;
    --color-element-background: #BB6F7C;
    --color-section-1: #3C393C;
    --color-section-2: #24252E;

    --color-menu-background: #533237;
    --coler-title: #E48797;
    /*--color-text:white;*/

    /*variables for font-family */
    --font-title: 'Raleway', sans-serif;
    --font-text: 'Roboto', sans-serif;



}
