/*import the font*/
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

:root{
    --color-background-main: black ;
    --color-section-1: #C9C8C9;
    --color-section-2: #e3dfe5;


    --color-menu: #5A80A1;


    /*variables for font-family */
    --font-title: 'Raleway', sans-serif;
    --font-text: 'Roboto', sans-serif;



}
