
@import "global.css";

/*main.html-----------------------------------------------------------*/
.framesContainer{
    margin: 0;
    padding: 0;
    height: 100% ;
}
.frame {

    width:100%;
    margin: 0;
    padding: 0;


    /*testing properties*/
    border:5px solid black;

}

.hoverButtonGrayScale{
    /*filter: url(filters.svg#grayscale); !* Firefox 3.5+ *!*/
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .1s ease-in-out;
}
.hoverButtonGrayScale:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
}

.menuButton{
    width: 60px;
    height:60px;
}
.menuItemsFixedContainer{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;

    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.menuItemsBackground
{
    display:flex;
    flex-flow: row nowrap;
    width:fit-content;
    background-color: var(--color-menu);
    border-radius: 20px;

}
