
@import "global.css";


:root{
    /*colors--------------------------------------------------------------*/
    --page-backgrorund-color: var(--color-page-background);
    --frame-header-background-color:var(--color-page-background);
    --frame-about-background-color:var(--color-section-1);
    --frame-team-background-color:var(--color-section-2);
    --frame-contact-background-color:var(--page-backgrorund-color);

    --nav-menu-background-color: var(--color-menu-background);

    /*padding and margins---------------------------------------------------*/
    /*todo --framesContainer-padding: 50px 50px;*/
    --nav-menu-bottom: 15px;
    --nav-menu-right: auto;
    --nav-menu-left: auto;
    --nav-menu-top: auto;

    /*nav-------------------------------------------------------------------*/
    --nav-menu-icon-size: 5em  ;
    --nav-menu-flex-direction: row;
    --menu-position-align-content: flex-center;
    --menu-position-justify-content: center;

    --nav-menu-hover-scale-factor:1.05;
    --nav-menu-hover-opacity:0.8;

}
@media screen and (min-width:  800px ) {
 :root{

     --nav-menu-flex-direction: column;
     --menu-position-align-content: flex-end;
     --menu-position-justify-content: flex-end;

     --nav-menu-bottom: 15px;
     --nav-menu-right: 15px;
 }


}


html{
    scroll-behavior: smooth;
}
body{
    background: var(--page-backgrorund-color);
    padding: 0px;
    margin: 0px;
    color:var(--color-text);
}



.framesHolder{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    /*!*************************************************************************!*/
    /*removes the spaces between the frames*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    /*align-items: stretch;*/

    /*************************************************************************/


}
.frame {


    width:100%;
    margin: 0;
    padding: 10px;
    border: 0px none;


}



#frameHeader{
    background-color: var(--frame-header-background-color);
    height: 100vh;
}
#frameTeam{
    background-color: var(--frame-team-background-color);
}
#frameAbout{
    background-color: var(--frame-about-background-color);

}
#frameContact{
    background-color: var(--frame-contact-background-color);
}


.menuItem{
    width: var(--nav-menu-icon-size);
    height:var(--nav-menu-icon-size);
}
#downArrow{

    width:  var(--nav-menu-icon-size);
    height: var(--nav-menu-icon-size);
    position: absolute;
    bottom: 20vh;
    left:calc( 50vw - var(--nav-menu-icon-size)/2);

}
#downArrow  img , .menuItem img{
    width: 100% ;
    height: 100%;
}


.buttonHoverEffect{
    filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    transition: all .1s ease-in-out;
}
.buttonHoverEffect:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}


.navMenuFixedContainer{
    /*a container that occupies the lower section of the screen*/
    /*it only holds a single item and allows to place it at different positions*/
    display:flex;
    justify-content: var(--menu-position-justify-content);
    align-content: var(--menu-position-align-content);
    width: 100%;


    position: fixed;
    bottom: var(--nav-menu-bottom);
    right: var(--nav-menu-right);
    left: var(--nav-menu-left);
    top: var(--nav-menu-top);


    pointer-events: none;
}

.navMenuItemsHolder {
    /*elements positioning*/
    display:flex;
    flex-direction: var(--nav-menu-flex-direction);

    pointer-events: auto;

    width:fit-content;
    background-color: var(--nav-menu-background-color);
    border-radius: 20px;

    opacity: var(--nav-menu-hover-opacity);
    transition: all .1s ease-in-out;
}
.navMenuItemsHolder:hover{
    transform: scale(var(--nav-menu-hover-scale-factor));
    opacity: 1;
}















