
@import "global.css";

/*main.html-----------------------------------------------------------*/


:root{
    /*colors--------------------------------------------------------------*/
    --page-backgrorund-color: var(--color-background-main);
    --frames-background-color:var(--color-section-1);
    --nav-menu-background-color: var(--color-menu);

    /*padding and margins---------------------------------------------------*/

    --framesContainer-padding: 50px 50px;
    --nav-menu-padding-bottom: 15px;
    --nav-menu-padding-right: auto;
    --nav-menu-padding-left: auto;
    --nav-menu-padding-top: auto;


    /*nav-------------------------------------------------------------------*/
    --nav-menu-icon-size: 5em  ;
    --nav-menu-flex-direction: row;
    --menu-position-hotizontaly: flex-center;
    --menu-position-vertically: center;

    --nav-menu-hover-scale-factor:1.05;
    --nav-menu-hover-opacity:0.8;

}

@media screen and (min-width:  600px ) {
 :root{

     --nav-menu-flex-direction: column;
     --menu-position-hotizontaly: flex-end;
     --menu-position-vertically: flex-end;
     --nav-menu-padding-bottom: 15px;
     --nav-menu-padding-right: 15px;
 }

}

html{
    scroll-behavior: smooth;
}
body{
    background: var(--page-backgrorund-color);
    padding: 0px;
    margin: 0px;

}
html, body, main {
    /*fixes the big that accrues when setting the .framesContainer height to 100%  */
    height: 100%;
}

.frameOuterContainer{
    padding: var(--framesContainer-padding);

}
.framesInnerContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    /*!*************************************************************************!*/
    /*removes the spaces between the frames*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    /*align-items: stretch;*/

    /*************************************************************************/


}
.frame {

    width:100%;
    margin: 0;
    padding: 10px;
    /*************************************************************************/
    background-color: var(--frames-background-color);
    /*border-radius: 5px;*/
    border: 0px none;


}

.sectionColor1{
    background-color: var(--color-section-1);
}

.sectionColor2{
    background-color: var(--color-section-2);

}

.menuItem, .menuImg{
    width: var(--nav-menu-icon-size);
    height:var(--nav-menu-icon-size);
}

.hoverButtonGrayScale{
/*filter: url(filters.svg#grayscale); !* Firefox 3.5+ *!*/
filter: gray; /* IE5+ */
-webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
-webkit-transition: all .1s ease-in-out;
}
.hoverButtonGrayScale:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.1);
}


.navMenuFixedContainer{
    /*center the container*/
    display:flex;
    justify-content: var(--menu-position-vertically);
    align-content: var(--menu-position-hotizontaly);


    bottom: var(--nav-menu-padding-bottom);
    right: var(--nav-menu-padding-right);
    left: var(--nav-menu-padding-left);
    top: var(--nav-menu-padding-top);

    /*needed in order to place the nav menu over the content*/
    position: fixed;
    width: 100%;
    z-index: 1;
    pointer-events: none;
}

.navMenuItemsContainer {

    /*elements positioning*/
    display:flex;
    flex-direction: var(--nav-menu-flex-direction);

    pointer-events: auto;


    /*background color*/
    width:fit-content;
    background-color: var(--nav-menu-background-color);
    border-radius: 20px;

    opacity: var(--nav-menu-hover-opacity);
    -webkit-transition: all .1s ease-in-out;
}
.navMenuItemsContainer:hover{

    -webkit-transform: scale(var(--nav-menu-hover-scale-factor));
    opacity: 1;
}
