/*import the font*/
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

:root {
    --color-background: #F4F1F3;
    --color-menu: #5A80A1;
    --color-sub1: #F4F1F3;
    --color-sub2: #F4F1F3;
    --color-sub3: #F4F1F3;

    /*variables for font-family */
    --font-title: 'Raleway', sans-serif;
    --font-text: 'Roboto', sans-serif;

}


.framesContainer{
    margin: 0;
    padding: 0;
}

.frame {

    width:100%;
    margin: 0;
    padding: 0;

    /*remove the scroll bars within the iframe elements*/
    overflow:hidden;

    /*testing properties*/
    border:5px solid black;
    height: 500px;

}

.menuButton{
    width: 60px;
    height:60px;
}
.menuItemsFixedContainer{

    display:flex;
    flex-flow: row nowrap;
    justify-content: center;

    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.menuItemsBackground
{
    display:flex;
    flex-flow: row nowrap;
    width:fit-content;
    background-color: var(--color-menu);
    border-radius: 20px;
}