.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding:10px;
  margin:10x;
  width: 100%;
  text-align: left;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 5px 5px 0 0;
}

/*import the font*/
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');
:root{
 --color-background: #F4F1F3;
 --color-menu: #5A80A1;
 --color-sub1: #F4F1F3;
 --color-sub2: #F4F1F3;
 --color-sub3: #F4F1F3;

    /*variables for font-family */
    --font-title: 'Raleway', sans-serif;
    --font-text: 'Roboto', sans-serif;

}

/*main.html-----------------------------------------------------------*/

.framesContainer{
    margin: 0;
    padding: 0;
}

.about{
  
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px;
        padding:10px;
        margin:10x;
        width: 50%;
        text-align: center;
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        border: medium;

    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.menuItemsBackground
{
    display:flex;
    flex-flow: row nowrap;
    width:fit-content;
    background-color: var(--color-menu);
    border-radius: 20px;
}

/*team.html---------------------------------------------------------*/
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding:10px;
    margin:10px;
    width: 100%;
    text-align: left;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 5px 5px 0 0;
}